# dependencies
node_modules/
app/node_modules/
stitch/node_modules/

# next.js
app/.next/
app/out/

# production
build/
app/build/

# misc
.DS_Store
*.pem
*.log
app/*.log

# env files
.env*
app/.env*

# vercel
.vercel
app/.vercel

# typescript
*.tsbuildinfo
app/next-env.d.ts

# OS files
.lock-wscript
Thumb.db
